{% if site.show_quotes %}
  <h1 class="title"><span>{{site.quotess_title}}</span></h1>
  <div class="projects-wrapper">
    {% for quote in site.data.quotes %}
      <div class="project quote-card" data-aos="fade-up" data-aos-duration="600">
        <p class="project-desc">{{quote.quote}}</p>
        {% if quote.tags %}
          <div class="tag-wrapper">
            {% for tag in quote.tags %}
              <span class="tag">{{tag.tag}}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}
